
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@foreach(var customer in Model)
            {
                <div>
                    @customer.ID
                    @customer.Name
                </div>
            }
